# Bibliotecas da API
fastapi==0.65.2
requests==2.24.0
uvicorn==0.11.7
pyspark==2.4.0

# Bibliotecas Genéricas
pandas==1.0.1

# Bibliotecas de Logs
loguru==0.5.1

# Bibliotecas I/O


# Bibliotecas de teste e documentação
pdoc3==0.9.1
loguru==0.5.1
stackprinter==0.2.4
pytest==6.0.1
ipdb==0.12